html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:root {
  --header-color: #59a490;
  --company-color: #fb6d3a;
}

body {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 50px auto;
  padding: 40px 20px 40px 20px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.mainContent {
  padding: 40px 88px 102px 88px;
}

/* PERSONAL DESCRIPTION BLOCK */
.mainContent__personalDescription__block {
  width: 700px;
  margin-bottom: 40px;
}

.mainContent__personalDescription__header {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin: 10px 0;
}

.mainContent__personalDescription__summary {
  color: var(--header-color);
  margin: 0;
}

.mainContent__summaryBlock {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

/* WORK INFO */
.mainContent__Description {
  margin-bottom: 20px;
}

.mainContent__headerPrimary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--header-color);
}

.mainContent__header {
  margin: 0;
}

.mainContent__header--date {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.mainContent--companyName {
  color: var(--company-color);
}

.mainContent__list {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.mainContent__links {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

/* PERSONAL INFO */
.sideContent {
  border-right: 1px solid black;
}

.sideContent__cvPhoto {
  margin-top: 0px;
}

.sideContent__block {
  margin: 30px 10px 0px 20px;
}

.sideContent__header {
  color: var(--header-color);
  margin: 0;
}

.sideContent__contactsList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sideContent__list {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  padding-left: 0;
  margin: 0;
}

.sideContent__links {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.sideContent__bold {
  font-weight: 700;
}
